@using squittal.ScrimPlanetmans.App.Pages.Shared;
@using squittal.ScrimPlanetmans.Models;
@using squittal.ScrimPlanetmans.ScrimMatch;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.Planetside;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;

@inject IScrimMatchEngine ScrimMatchEngine
@inject IScrimTeamsManager ScrimTeamsManager
@inject IScrimMessageBroadcastService MessageService
@inject IFactionService FactionService

@implements IDisposable

<div class="scoreboard">
    <div class="outfitScoresContainer">
        @if (ShowTeams)
        {
            <ScoreboardBaseCaptures CaptureCount=_teamControls1 FactionId=_teamFactionId1 TeamOrdinal=1 />

            <div class="outfitScoresRow team1 @SqCssHelper.GetFactionClassFromId(_teamFactionId1)">
                <div class="outfitAlias">@_teamAlias1</div>
                <div class="outfitScore @_pointsDisplayClass">@_teamPointsDisplay1</div>
                <div class="wedge"></div>
                <div class="factionLabel">@_teamFactionDisplay1[0]<br />@_teamFactionDisplay1[1]</div>
                <div class="pointProgressContainer @(GetShowPointTargetCssClass(_shouldShowPointTarget))">
                    <div class="pointProgressBar" style="transform: @(_teamPointBarTransform1);"></div>
                </div>
            </div>            
        }

        <div class="timerContainer">
            @if (_shouldShowPointTarget)
            {
                <div class="timer-text" style="font-size: 16px;"><MatchTimer /></div>
                <div style="margin-top: 1px; font-size: 12px; margin-left: 6px; margin-right: 6px;">First to @(_pointTarget)</div>
            }
            else
            {
                <div class="timer-text"><MatchTimer /></div>
            }
        </div>

        @if (ShowTeams)
        {
            <div class="outfitScoresRow team2 @SqCssHelper.GetFactionClassFromId(_teamFactionId2)">
                <div class="factionLabel">@_teamFactionDisplay2[0]<br />@_teamFactionDisplay2[1]</div>
                <div class="wedge"></div>
                <div class="outfitScore @_pointsDisplayClass">@_teamPointsDisplay2</div>
                <div class="outfitAlias">@_teamAlias2</div>
                <div class="pointProgressContainer @(GetShowPointTargetCssClass(_shouldShowPointTarget))">
                    <div class="pointProgressBar" style="transform: @(_teamPointBarTransform2);"></div>
                </div>
            </div>

            <ScoreboardBaseCaptures CaptureCount=_teamControls2 FactionId=_teamFactionId2 TeamOrdinal=2 />
        }
    </div>

    @if (ShowTeams)
    {
        <div class="series-tally-container" style="@(GetSeriesTallyMarginString())">
            <div class="team team1 @SqCssHelper.GetFactionClassFromId(_teamFactionId1)">
                @foreach (ScrimSeriesMatchResult matchResult in _teamSeriesResults1)
                {
                    <div class="tally @GetSeriesMatchTallyCssClass(matchResult.ResultType)"></div>
                }
                @if (ShouldShowActiveSeriesTally())
                {
                    <div class="tally @GetSeriesMatchTallyCssClass(null)"></div>
                }
            </div>

            <div class="team team2 @SqCssHelper.GetFactionClassFromId(_teamFactionId2)">
                @foreach (ScrimSeriesMatchResult matchResult in _teamSeriesResults2)
                {
                    <div class="tally @GetSeriesMatchTallyCssClass(matchResult.ResultType)"></div>
                }
                @if (ShouldShowActiveSeriesTally())
                {
                    <div class="tally @GetSeriesMatchTallyCssClass(null)"></div>
                }
            </div>

            @if (_isPeriodPointsEnabled)
            {
                <PeriodicControlTickProgressBar />
            }
        </div>
    }
</div>

@code {
    private const string NoPointsString = "-";
    private const string CssHidePointsClass = "hidePoints";

    private int _teamPoints1 = 0;
    private int _teamControls1 = 0;
    private int? _teamFactionId1;
    private string _teamAlias1 = string.Empty;
    private string[] _teamFactionDisplay1 = new string[2] { ".", "." };
    private List<ScrimSeriesMatchResult> _teamSeriesResults1 = new List<ScrimSeriesMatchResult>();

    private int _teamPoints2 = 0;
    private int _teamControls2 = 0;
    private int? _teamFactionId2;
    private string _teamAlias2 = string.Empty;
    private string[] _teamFactionDisplay2 = new string[2] { ".", "." };
    private List<ScrimSeriesMatchResult> _teamSeriesResults2 = new List<ScrimSeriesMatchResult>();

    private MatchState _matchState;
    private int _currentRound;

    private int _pointTarget = Ruleset.DefaultTargetPointValue;
    private bool _shouldShowPointTarget = Ruleset.DefaultEndRoundOnPointValueReached;
    private bool _isPeriodPointsEnabled = Ruleset.DefaultEnablePeriodicFacilityControlRewards;

    private string _teamPointBarTransform1 = "scaleX(0)";
    private string _teamPointBarTransform2 = "scaleX(0)";

    [Parameter]
    public bool CurrentRoundOnly { get; set; }

    [Parameter]
    public bool ShowTeams { get; set; }

    private bool _shouldShowPoints => (_matchState == MatchState.Uninitialized) ? false : true;
    private string _teamPointsDisplay1 => _shouldShowPoints ? _teamPoints1.ToString() : NoPointsString;
    private string _teamPointsDisplay2 => _shouldShowPoints ? _teamPoints2.ToString() : NoPointsString;
    private string _pointsDisplayClass => _shouldShowPoints ? string.Empty : CssHidePointsClass;

    #region Initialization Methods
    protected override void OnInitialized()
    {
        MessageService.RaiseTeamAliasChangeEvent += ReceiveTeamAliasChangeEvent;
        MessageService.RaiseTeamFactionChangeEvent += ReceiveTeamFactionChangeEvent;
        MessageService.RaiseMatchStateUpdateEvent += ReceiveMatchStateUpdateEvent;
        MessageService.RaiseTeamStatUpdateEvent += ReceiveTeamStatUpdateEvent;

        MessageService.RaiseScrimFacilityControlActionEvent += ReceiveFacilityControlEvent;

        SyncMatchAndTeamState();
    }

    public void Dispose()
    {
        MessageService.RaiseTeamAliasChangeEvent -= ReceiveTeamAliasChangeEvent;
        MessageService.RaiseTeamFactionChangeEvent -= ReceiveTeamFactionChangeEvent;
        MessageService.RaiseMatchStateUpdateEvent -= ReceiveMatchStateUpdateEvent;
        MessageService.RaiseTeamStatUpdateEvent -= ReceiveTeamStatUpdateEvent;

        MessageService.RaiseScrimFacilityControlActionEvent -= ReceiveFacilityControlEvent;
    }

    protected override void OnParametersSet()
    {
        SyncMatchAndTeamState();
    }

    private void SyncMatchAndTeamState()
    {
        _matchState = ScrimMatchEngine.GetMatchState();
        _currentRound = ScrimMatchEngine.GetCurrentRound();

        _shouldShowPointTarget = ScrimMatchEngine.Config.EndRoundOnPointValueReached;
        _isPeriodPointsEnabled = ScrimMatchEngine.Config.EnablePeriodicFacilityControlRewards;

        _teamAlias1 = ScrimTeamsManager.GetTeamAliasDisplay(1);
        _teamAlias2 = ScrimTeamsManager.GetTeamAliasDisplay(2);

        UpdateTeamPoints();
        UpdateTeamsControlCounts();
        UpdateSeriesMatchResults();

        _teamFactionId1 = ScrimTeamsManager.GetTeam(1).FactionId;
        _teamFactionId2 = ScrimTeamsManager.GetTeam(2).FactionId;

        if (_teamFactionId1 == null)
        {
            UpdateTeamFactionDisplay(1, string.Empty);
        }
        else
        {
            UpdateTeamFactionDisplay(1, FactionService.GetFactionAbbrevFromId((int)_teamFactionId1));
        }

        if (_teamFactionId2 == null)
        {
            UpdateTeamFactionDisplay(2, string.Empty);
        }
        else
        {
            UpdateTeamFactionDisplay(2, FactionService.GetFactionAbbrevFromId((int)_teamFactionId2));
        }
    }

    #endregion Initialization Methods

    private void UpdateMatchState()
    {
        _matchState = ScrimMatchEngine.GetMatchState();
        _currentRound = ScrimMatchEngine.GetCurrentRound();
    }

    private void UpdateTeamPoints()
    {
        int? teamPoints1;
        int? teamPoints2;

        if (CurrentRoundOnly)
        {
            _currentRound = ScrimMatchEngine.GetCurrentRound();

            teamPoints1 = GetCurrentRoundTeamPoints(1, _currentRound);
            teamPoints2 = GetCurrentRoundTeamPoints(2, _currentRound);
        }
        else
        {
            teamPoints1 = ScrimTeamsManager.GetTeamScoreDisplay(1);
            teamPoints2 = ScrimTeamsManager.GetTeamScoreDisplay(2);
        }

        _teamPoints1 = (teamPoints1 == null) ? 0 : teamPoints1.Value;
        _teamPoints2 = (teamPoints2 == null) ? 0 : teamPoints2.Value;

        _shouldShowPointTarget = ScrimMatchEngine.Config.EndRoundOnPointValueReached;
        int? pointTarget = ScrimMatchEngine.Config.TargetPointValue;

        if (_shouldShowPointTarget && pointTarget.HasValue)
        {
            _pointTarget = pointTarget.Value;
            _teamPointBarTransform1 = GetPointBarTransform(_pointTarget, _teamPoints1);
            _teamPointBarTransform2 = GetPointBarTransform(_pointTarget, _teamPoints2);
        }
        else
        {
            _shouldShowPointTarget = false;
        }
    }

    private int? GetCurrentRoundTeamPoints(int teamOrdinal, int currentRound)
    {
        int? teamPoints = ScrimTeamsManager.GetTeamRoundScoreDisplay(teamOrdinal, currentRound);

        if (teamPoints.HasValue)
        {
            return teamPoints;
        }

        return ScrimTeamsManager.GetTeamCurrentRoundScoreDisplay(teamOrdinal);
    }

    private void UpdateTeamFactionDisplay(int teamOrdinal, string newAbbreviation)
    {
        if (string.IsNullOrWhiteSpace(newAbbreviation))
        {
            if (teamOrdinal == 1)
            {
                _teamFactionDisplay1[0] = ".";
                _teamFactionDisplay1[1] = ".";
            }
            else if (teamOrdinal == 2)
            {
                _teamFactionDisplay2[0] = ".";
                _teamFactionDisplay2[1] = ".";
            }
        }
        else
        {
            if (teamOrdinal == 1)
            {
                _teamFactionDisplay1[0] = newAbbreviation[0].ToString();
                _teamFactionDisplay1[1] = newAbbreviation[1].ToString();
            }
            else if (teamOrdinal == 2)
            {
                _teamFactionDisplay2[0] = newAbbreviation[0].ToString();
                _teamFactionDisplay2[1] = newAbbreviation[1].ToString();
            }
        }
    }

    private void UpdateTeamsControlCounts()
    {
        _teamControls1 = ScrimTeamsManager.GetCurrentMatchRoundTeamWeightedCapturesCount(1);
        _teamControls2 = ScrimTeamsManager.GetCurrentMatchRoundTeamWeightedCapturesCount(2);
    }

    private void UpdateSeriesMatchResults()
    {
        _teamSeriesResults1 = ScrimTeamsManager.GetTeamsScrimSeriesMatchResults(1);
        _teamSeriesResults2 = ScrimTeamsManager.GetTeamsScrimSeriesMatchResults(2);
    }

    #region Event Handling
    private void ReceiveTeamStatUpdateEvent(object sender, ScrimMessageEventArgs<TeamStatUpdateMessage> e)
    {
        int teamOrdinal = e.Message.Team.TeamOrdinal;
        int? newPointsNullable;

        if (CurrentRoundOnly)
        {
            _currentRound = ScrimMatchEngine.GetCurrentRound();
            newPointsNullable = GetCurrentRoundTeamPoints(teamOrdinal, _currentRound);
        }
        else
        {
            newPointsNullable = ScrimTeamsManager.GetTeamScoreDisplay(teamOrdinal);
        }

        int newPoints = newPointsNullable.GetValueOrDefault();
        bool pointsChanged = false;

        if (teamOrdinal == 1 && newPoints != _teamPoints1)
        {
            _teamPoints1 = newPoints;
            pointsChanged = true;
        }
        else if (teamOrdinal == 2 && newPoints != _teamPoints2)
        {
            _teamPoints2 = newPoints;
            pointsChanged = true;
        }

        if (pointsChanged)
        {
            _shouldShowPointTarget = ScrimMatchEngine.Config.EndRoundOnPointValueReached;
            int? pointTarget = ScrimMatchEngine.Config.TargetPointValue;

            if (_shouldShowPointTarget && pointTarget.HasValue)
            {
                _pointTarget = pointTarget.Value;
                string newScale = GetPointBarTransform(_pointTarget, newPoints);

                if (teamOrdinal == 1)
                {
                    _teamPointBarTransform1 = newScale;
                }
                else if (teamOrdinal == 2)
                {
                    _teamPointBarTransform2 = newScale;
                }
            }
            else
            {
                _shouldShowPointTarget = false;
            }

            InvokeAsync(StateHasChanged);
        }
    }

    private void ReceiveFacilityControlEvent(object sender, ScrimMessageEventArgs<ScrimFacilityControlActionEventMessage> e)
    {
        int controllingTeamOrdinal = e.Message.FacilityControl.ControllingTeamOrdinal;

        if (controllingTeamOrdinal == 1)
        {
            int newTeamControls = ScrimTeamsManager.GetCurrentMatchRoundTeamWeightedCapturesCount(1);

            if (newTeamControls != _teamControls1)
            {
                _teamControls1 = newTeamControls;
                InvokeAsync(StateHasChanged);
            }

        }
        else if (controllingTeamOrdinal == 2)
        {
            int newTeamControls = ScrimTeamsManager.GetCurrentMatchRoundTeamWeightedCapturesCount(2);

            if (newTeamControls != _teamControls2)
            {
                _teamControls2 = newTeamControls;
                InvokeAsync(StateHasChanged);
            }
        }
    }

    private void ReceiveTeamAliasChangeEvent(object sender, ScrimMessageEventArgs<TeamAliasChangeMessage> e)
    {
        TeamAliasChangeMessage message = e.Message;

        int teamOrdinal = message.TeamOrdinal;
        string newAlias = message.NewAlias;

        bool aliasChanged = false;

        if (teamOrdinal == 1 && newAlias != _teamAlias1)
        {
            _teamAlias1 = newAlias;
            aliasChanged = true;
        }
        else if (teamOrdinal == 2 && newAlias != _teamAlias2)
        {
            _teamAlias2 = newAlias;
            aliasChanged = true;
        }

        if (aliasChanged)
        {
            InvokeAsync(StateHasChanged);
        }
    }

    private void ReceiveMatchStateUpdateEvent(object sender, ScrimMessageEventArgs<MatchStateUpdateMessage> e)
    {
        MatchStateUpdateMessage message = e.Message;

        MatchState oldMatchState = _matchState;
        MatchState newMatchState = message.MatchState;

        if (oldMatchState != newMatchState)
        {
            _matchState = newMatchState;
        }

        int oldCurrentRound = _currentRound;
        int newCurrentRound = message.CurrentRound;

        if (oldCurrentRound != newCurrentRound)
        {
            _currentRound = newCurrentRound;
        }

        SyncMatchAndTeamState();
        InvokeAsync(StateHasChanged);
    }

    private void ReceiveTeamFactionChangeEvent(object sender, ScrimMessageEventArgs<TeamFactionChangeMessage> e)
    {
        TeamFactionChangeMessage message = e.Message;

        int teamOrdinal = message.TeamOrdinal;
        int? newFactionId = message.NewFactionId;
        string newFactionAbbreviation = message.NewFactionAbbreviation;

        bool factionChanged = false;

        if (teamOrdinal == 1 && newFactionId != _teamFactionId1)
        {
            _teamFactionId1 = newFactionId;
            factionChanged = true;
        }
        else if (teamOrdinal == 2 && newFactionId != _teamFactionId2)
        {
            _teamFactionId2 = newFactionId;
            factionChanged = true;
        }

        if (factionChanged)
        {
            UpdateTeamFactionDisplay(teamOrdinal, newFactionAbbreviation);
            InvokeAsync(StateHasChanged);
        }
    }
    #endregion Event Handling

    private bool ShouldShowActiveSeriesTally()
    {
        return _matchState switch
        {
            MatchState.Paused => true,
            MatchState.Running => true,
            MatchState.Stopped => false,
            MatchState.Uninitialized => false,
            _ => false
        };
    }

    private static string GetSeriesMatchTallyCssClass(ScrimSeriesMatchResultType? matchResultType)
    {
        return matchResultType switch
        {
            ScrimSeriesMatchResultType.Win => "win",
            ScrimSeriesMatchResultType.Loss => "loss",
            ScrimSeriesMatchResultType.Draw => "loss",
            _ => "active"
        };
    }

    private string GetSeriesTallyMarginString()
    {
        if (_shouldShowPointTarget)
        {
            return "margin-top: 6px";
        }
        else
        {
            return string.Empty;
        }
    }

    private static string GetShowPointTargetCssClass(bool showPointTarget)
    {
        if (showPointTarget)
        {
            return string.Empty;
        }

        return "hide";
    }

    private static string GetPointBarTransform(int pointTarget, int teamPoints)
    {
        double scale = 0.0;

        if (pointTarget > 0)
        {
            scale = teamPoints * (double)1.0 / pointTarget;
        }

        if (scale > 1)
        {
            scale = 1;
        }

        if (scale < 0)
        {
            scale = 0;
        }

        return $"scaleX({scale})";
    }
}
