@using squittal.ScrimPlanetmans.ScrimMatch;
@using squittal.ScrimPlanetmans.ScrimMatch.Messages;
@using squittal.ScrimPlanetmans.ScrimMatch.Models;
@using squittal.ScrimPlanetmans.Services.ScrimMatch;
@using squittal.ScrimPlanetmans.App.Pages.Overlay.TeamPlayers;

@inject IScrimTeamsManager ScrimTeamsManager
@inject IScrimMessageBroadcastService MessageService

@implements IDisposable

@if (Player != null)
{
    <div id="@($"{Player.NameDisplay}-stats")" class="stats-row player">
        <div id="@($"{Player.NameDisplay}-label")" class="label primary-light">
            <TeamPlayerStatusRowLoadout Player=Player /><span>@Player.NameDisplay</span>
        </div>

        @if (!UseObjectiveStats)
        {
            <div id="@($"{Player.NameDisplay}-score")" class="score stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Points);">@_renderedEventAggregate.Points</div>
            <div id="@($"{Player.NameDisplay}-graph")" class="graph">
                <div id="@($"{Player.NameDisplay}-graph-bar")" class="graph-bar" style="width: @($"{_pointGraphWidth}%")"></div>
            </div>
            <div id="@($"{Player.NameDisplay}-net")" class="net stats-value">
                <span class="value">@_renderedEventAggregate.NetScore</span><span class="label @GetNetScoreLabelCssClass()">@GetNetScoreLabelText()</span>
            </div>
        }

        <div id="@($"{Player.NameDisplay}-kills")" class="kills stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Kills);">@_renderedEventAggregate.Kills</div>
        <div id="@($"{Player.NameDisplay}-deaths")" class="deaths stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.Deaths);">@_renderedEventAggregate.Deaths</div>

        @if (ShowHsr && !UseObjectiveStats)
        {
            <div id="@($"{Player.NameDisplay}-hsr")" class="hsr stats-value" style="opacity: @GetStatOpacity((int)_renderedEventAggregate.HeadshotRatio);">@Math.Round(_renderedEventAggregate.HeadshotRatio, 0)<span style="font-size: small;">%</span></div>
        }

        @if (UseObjectiveStats)
        {
            <div id="@($"{Player.NameDisplay}-objective-ticks")" class="objective-ticks stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.ObjectiveTicks);">@_renderedEventAggregate.ObjectiveTicks</div>
            <div id="@($"{Player.NameDisplay}-revives")" class="revives stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.RevivesGiven);">@_renderedEventAggregate.RevivesGiven</div>
            <div id="@($"{Player.NameDisplay}-revives-taken")" class="revives-taken stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.RevivesTaken);">@_renderedEventAggregate.RevivesTaken</div>
        }

        <div id="@($"{Player.NameDisplay}-assists")" class="assists stats-value" style="opacity: @GetStatOpacity(_renderedEventAggregate.DamageAssists);">@_renderedEventAggregate.DamageAssists</div>
    </div>
}

@code {
    private ScrimEventAggregate _renderedEventAggregate = new ScrimEventAggregate();

    private decimal _pointGraphWidth = 4;
    private int _currentMaxPoints = 0;

    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public bool ShowHsr { get; set; } = MatchOverlay.DefaultShowHsr;

    [Parameter]
    public bool UseObjectiveStats { get; set; }


    #region Initialization Methods
    protected override void OnInitialized()
    {
        MessageService.RaisePlayerStatUpdateEvent += ReceivePlayerStatUpdateEvent;
        MessageService.RaisePlayerNameDisplayChangeEvent += ReceivePlayerNameDisplayChangeMessageEvent;

        _currentMaxPoints = ScrimTeamsManager.MaxPlayerPointsTracker.GetMaxPoints();
        UpdatePointGraphWidth();
    }

    public void Dispose()
    {
        MessageService.RaisePlayerStatUpdateEvent -= ReceivePlayerStatUpdateEvent;
        MessageService.RaisePlayerNameDisplayChangeEvent -= ReceivePlayerNameDisplayChangeMessageEvent;
    }

    protected override void OnParametersSet()
    {
        _renderedEventAggregate = new ScrimEventAggregate();
        _renderedEventAggregate.Add(Player.EventAggregate);

        InvokeAsync(() =>
        {
            _currentMaxPoints = ScrimTeamsManager.MaxPlayerPointsTracker.GetMaxPoints();

            UpdatePointGraphWidth();
            StateHasChanged();
        });
    }
    #endregion Initialization Methods

    #region Event Handling
    private void ReceivePlayerStatUpdateEvent(object sender, ScrimMessageEventArgs<PlayerStatUpdateMessage> e)
    {
        Player player = e.Message.Player;
        OverlayMessageData overlayData = e.Message.OverlayMessageData;

        if (overlayData.RedrawPointGraph && player != Player)
        {
            _currentMaxPoints = ScrimTeamsManager.MaxPlayerPointsTracker.GetMaxPoints();

            UpdatePointGraphWidth();
            InvokeAsync(StateHasChanged);
        }

        if (player == Player)
        {
            if (RenderedStatsHaveChanged(player.EventAggregate, out bool redrawGraph))
            {
                _renderedEventAggregate = new ScrimEventAggregate();
                _renderedEventAggregate.Add(Player.EventAggregate);

                _currentMaxPoints = ScrimTeamsManager.MaxPlayerPointsTracker.GetMaxPoints();

                if (redrawGraph)
                {
                    UpdatePointGraphWidth();
                }

                InvokeAsync(StateHasChanged);
            }
        }
    }

    private void ReceiveTeamStatUpdateEvent(object sender, ScrimMessageEventArgs<TeamStatUpdateMessage> e)
    {
        OverlayMessageData overlayData = e.Message.OverlayMessageData;

        if (overlayData.RedrawPointGraph)
        {
            _currentMaxPoints = overlayData.MatchMaxPlayerPoints;

            UpdatePointGraphWidth();
            InvokeAsync(StateHasChanged);
        }
    }

    private void ReceivePlayerNameDisplayChangeMessageEvent(object sender, ScrimMessageEventArgs<PlayerNameDisplayChangeMessage> e)
    {
        if (e.Message.Player != Player)
        {
            return;
        }

        InvokeAsync(StateHasChanged);
    }
    #endregion Event Handling

    private bool RenderedStatsHaveChanged(ScrimEventAggregate newAggregate, out bool redrawGraph)
    {
        redrawGraph = false;

        if (_renderedEventAggregate.Points != newAggregate.Points && !UseObjectiveStats)
        {
            redrawGraph = true;
            return true;
        }
        else if (_renderedEventAggregate.NetScore != newAggregate.NetScore && !UseObjectiveStats)
        {
            redrawGraph = true;
            return true;
        }
        else if (_renderedEventAggregate.Kills != newAggregate.Kills)
        {
            return true;
        }
        else if (_renderedEventAggregate.HeadshotRatio != newAggregate.HeadshotRatio && ShowHsr && !UseObjectiveStats)
        {
            return true;
        }
        else if (_renderedEventAggregate.DamageAssists != newAggregate.DamageAssists)
        {
            return true;
        }
        else if (_renderedEventAggregate.RevivesGiven != newAggregate.DamageAssists && UseObjectiveStats)
        {
            return true;
        }
        else if (_renderedEventAggregate.RevivesTaken != newAggregate.DamageAssists && UseObjectiveStats)
        {
            return true;
        }
        else if (_renderedEventAggregate.ObjectiveTicks != newAggregate.ObjectiveTicks && UseObjectiveStats)
        {
            return true;
        }
        else
        {
            return false;
        }
    }

    private void UpdatePointGraphWidth()
    {
        int maxPoints = _currentMaxPoints;
        int playerPoints = _renderedEventAggregate.Points;

        _pointGraphWidth = (playerPoints >= 1 && maxPoints > 0) ? Math.Ceiling(90 * ((decimal)playerPoints / (decimal)maxPoints)) : 4;
    }

    private string GetNetScoreLabelCssClass()
    {
        if (_renderedEventAggregate.NetScore == 0)
        {
            return "neutral";
        }
        else if (_renderedEventAggregate.NetScore < 0)
        {
            return "negative";
        }
        else
        {
            return string.Empty;
        }
    }

    private string GetNetScoreLabelText()
    {
        if (_renderedEventAggregate.NetScore == 0)
        {
            return "•";
        }
        else
        {
            return "Δ";
        }
    }

    private static double GetStatOpacity(int value)
    {
        return (value != 0)
            ? 1.0
            : 0.5;
    }
}
